body
{
	font-family: 'Raleway' , sans-serif;
}

header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#logo {

	width: 150px;
}

.menu
{
	display: flex;
	justify-content: space around;
}

nav
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

li {
	margin-left: 20px;
}

.filtre
{
	display: flex;
	justify-content: space around;
	border: 1px blue;
	border-radius: 20px/20px;
}

#en_ligne
{
	display: flex;
	justify-content: space-around;
}

section
{
	width: 60%;
	display: flex inline-block;
	justify-content: space-between;
	align-items: center;
	border: 1px;
	border-radius: 20px;
	text-align: justify;
}

.element_hébergements
{
	width: 150px;
	heigh: 150px;
	font-size: small;
	border: 1px gray solid;
	border-radius: 20px;
	box-shadow: 6px 6px 6px gray;
}

.flottant
{
	float: ;
	width: 100px;
	heigh: 100px;
	border: 1px;
	border-radius: 20px;
}

#hébergements
{
	background: #F2F2F2 fixed;
	width: 85%;
	display: flex inline-block;
	justify-content: space-between;
	border: 1px;
	border-radius: 20px
}

#hébergements1
{
	display: flex;
	justify-content: space-around;
}

#hébergements2
{
	display: flex;
	justify-content: space-around;
}

aside
{
	display: inline-block;
	background: #F2F2F2 fixed;
	margin: auto;
	border: 1px;
	border-radius: 20px;
}

#les_activités
{
	display: flex;
}

ul
{
	list-style-type: none;
}

.texte_gris
{
	color: gray;
}

footer
{
	display: flex;
	justify-content: space-around;
	background: #F2F2F2 fixed repeat;
}