body
{
	font-family: 'Raleway' , sans-serif;
}

#conteneur_global
{
	width: 95%;
	margin: auto;
}







header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#logo
{

	width: 120px;
}

.en_ligne
{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.menu
{
	display: flex;
	justify-content: space-around;
}

nav
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

a
{
	color: #0065FC;
	text-decoration: none;
	margin-top: 20px;
}

li
{
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #0065FC;
}

#bordure_hébergement
{
	border-top: 3px #0065FC solid;
}

#menu_activité
{
	font-size: 14px;
	font-weight: bold;
	color: black;
}





#section_haut_de_page
{
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
}

#formulaire
{
	display: flex;
	padding: 2px;
	border-radius: 13px;
	width: 350px;
	font-size: 14px;
	font-weight: bold;
}

#logo_recherche
{
	border: 2px #F2F2F2 solid;
	border-radius: 6px 0px 0px 6px;
	width: 30px;
	height: 30px;
	background-color: #F2F2F2;
}

.fa-map-marker-alt
{
	margin: 7px 0px 0px 10px;
	font-size: 14px;
}

input
{
	border: 2px #F2F2F2 solid;
}

label
{
	border: 2px #0065FC solid;
	border-radius: 0px 6px 6px 0px;
	font-size: 13px;
	color: white;
	background-color: #0065FC;
	width: 75px;
	padding: 7px 5px 5px 12px;
}

#le_filtre
{
	display: flex;
}

#titre_filtre
{
	font-size: 10px;
	margin: 12px 0px 0px 0px;
}

#ligne_filtre
{
	display: flex;
	margin: 20px 0px 0px 0px;
}

.filtre
{
	display: flex;
	font-weight: bold;
	font-size: 14px;
	height: 20px;
	border: 3px #F2F2F2 solid;
	border-radius: 20px;
	align-items: center;
	margin-left: 10px;
	padding: 4px 4px 4px 0px;
}

.filtre:hover
{
	color: green;
}

.fa-info-circle
{
	background-color: #0065FC;
	color: white;
	border: 1px #F2F2F2 solid;
	border-radius: 20px;
	margin: 0px 5px 0px 0px;
}

.fa-money-bill-wave-alt, .fa-child, .fa-heart, .fa-dog
{
	color: #0065FC;
	font-size: 12px;
}

.icones
{
	display: flex;
	width: 35px;
	height: 35px;
	border-radius: 30px;
	background-color: #DEEBFF;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 0px;
}

.filtre_txt
{
	margin: 0px 4px 0px 8px;
}













#section_hébergements_populaire
{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

#bloc_hébergement
{
	background: #F2F2F2;
	width: 63%;
	border: 1px;
	border-radius: 20px;
	margin-right: 2.5%;
}

#hébergements
{
	display: flex;
	border: 1px;
	border-radius: 20px;
	flex-wrap: wrap;
	padding: 20px;
}

#Hébergement_à_Marseille
{
	margin: 30px 0px 0px 30px;
}

.element_hébergements
{
	width: 29%;
	height: 4%;
	font-weight: bold;
	font-size: 14px;
	background-color: white;
	border: 1px white solid;
	border-radius: 20px;
	box-shadow: 6px 6px 5px gray;
	margin: 10px;
	padding: 2px;
}

.photo_hébergement
{
	width: 100%;
	height: 150px;
	border: 1px;
	border-radius: 20px 20px 0px 0px;
}

.hébergement_txt
{
	margin: 2px 2px 10px 10px;
}

.fa-star
{
	color: #0065FC;
}

#affichez_plus
{
	margin: 15px 0px 50px 40px;
}

aside
{
	width: 33%;
	background: #F2F2F2;
	border: 1px;
	border-radius: 20px;
}

.titre_populaire
{
	width: 100%;
	display: flex;
	margin: 25px 0px 0px 45px;
}

.fa-chart-line
{
	margin: 25px 0px 0px 175px;
}

.photo_populaire
{
	width: 37%;
	height: 100%;
	border: 1px;
	border-radius: 20px 0px 0px 20px;
}

.element_sélection
{
	display: flex;
	width: 80%;
	height: 20%;
	font-weight: bold;
	font-size: 14px;
	background-color: white;
	border: 1px white solid;
	border-radius: 20px;
	box-shadow: 6px 6px 6px gray;
	margin: 40px;
	padding: 2px;
}

.populaire_txt
{
	margin: 2px;
	padding: 5px;
}









#les_activités
{
	height: 500px;
	margin-top: 50px;
}

#activité
{
	width: 100%;
	height: 90%;
	display: flex;
}

#Activité_à_Marseille
{
	margin: 0px 0px 15px 20px;
}

.element_activités
{
	width: 100%;
	height: 100%;
}

.moyenne_images1
{
	flex-direction: column;
}

.activités_txt
{
	margin: 8px 0px 0px 4px;
	font-weight: bold;
	font-size: 14px;
}

#activité_port
{
	border: 1px white solid;
	border-radius: 20px;
	width: 90%;
	height: 100%;
	box-shadow: 6px 6px 6px gray;
	margin: 0px;
}


#activité_calanques
{
	
	border: 1px white solid;
	border-radius: 20px;
	width: 90%;
	height: 100%;
	box-shadow: 6px 6px 6px gray;
	margin: 0px 0px 0px 10px;
}

.grande_activité
{
	width: 100%;
	height: 90%;
	border: 1px white solid;
	border-radius: 20px 20px 0px 0px;
}

#activité_pomègue
{
	border: 1px white solid;
	border-radius: 20px;
	width: 90%;
	height: 58%;
	box-shadow: 6px 6px 6px gray;
	margin: 0px 0px 0px 5px;
}

.photo_pomègue
{
	height: 85%;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}

#activité_frioul
{
	border: 1px white solid;
	border-radius: 20px;
	width: 90%;
	height: 30%;
	box-shadow: 6px 6px 6px gray;
	margin: 52px 0px 0px 5px;
}

.photo_frioul
{
	height: 65%;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}

#activité_garde
{
	border: 1px white solid;
	border-radius: 20px;
	width: 90%;
	height: 40%;
	box-shadow: 6px 6px 6px gray;
	margin: 0px 0px 0px 20px;
}

.photo_garde
{
	height: 80%;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}

#activité_longchamp
{
	border: 1px white solid;
	border-radius: 20px;
	width: 90%;
	height: 47%;
	box-shadow: 6px 6px 6px gray;
	margin: 57px 0px 0px 20px;
}

.photo_longchamp
{
	height: 80%;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}











footer
{
	width: 100%;
	display: flex;
	background: #F2F2F2 fixed repeat;
	margin-top: 50px;
}

.element_footer
{
	width: 20%;
	font-size: 14px;
	font-weight: bold;
	margin: 2% 7% 5% 4%;
}

.footer_txt
{
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
}

.texte_gris
{
	color: gray;
}
